html {
	box-sizing: border-box;
	font-size: 16px;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.page-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
}

.username {
	font-weight: bold;
	color: darkblue;
}

.correct {
	color: darkgreen;
	font-weight: bold;
}

.warning {
	color: red;
	font-weight: bold;
}

#updates {
	flex: 100%;
	text-align: center;
	margin: 0.5em 0;
}

#drawing-area {
	flex: 4 0 0;
	border: 1px solid black;
	background: #757575;
}

#player-list {
	flex: 1 0 0;
	border: 1px solid black;
	max-height: 500px;
	text-align: center;
}

#messages {
	flex: 100%;
	height: 150px;
	overflow-y: scroll;
	word-wrap: break-word;
	border: 1px solid black;
}

#typing-area {
	flex: 100%;
}
